$primary-gradient: linear-gradient(135deg, #ff416c, #ff4b2b);
$item-bg: #ffffff;
$border-radius-lg: 16px;
$percent: 60%;

ion-menu {
  ion-header {
    ion-toolbar {
      --background: #{$primary-gradient};
      --color: white;
      --border-style: none;
      height: 80px;
      display: flex;
      align-items: center;
    }
  }

  ion-content {
    --background: #fdfdfd;
    .menu-category-title {
      padding: 24px 16px 8px;
      font-size: 0.85rem;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      color: var(--ion-color-medium);
      align-items: center;
    }

    ion-list-header {
      --color: #111;
    }
    ion-list {
      background: transparent;
      padding: 12px;

      ion-item {
        --border-radius: 12px;
        --padding-start: 12px;
        margin-bottom: 6px;
        font-weight: 500;

        &:hover,
        &.selected {
          --background: rgba(115, 153, 244, 0.619);
          --color: #ff416c;
          font-weight: 700;
        }

        ion-label {
          font-size: 1rem;
        }
      }
    }
  }
}
.ion-page {
  ion-header {
    ion-toolbar {
      --background: #{$primary-gradient};
      --color: white;
      --border-style: none;
      height: 75px;

      ion-menu-button {
        --color: white;
        width: 65px;
        height: 65px;

        ion-icon {
          font-size: 34px !important;
          font-weight: bold;
        }
        &::part(native) {
          padding: 0;
        }
      }

      ion-title {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 0.95rem;
        letter-spacing: 1px;
        padding-inline-start: 0;
      }

      ion-avatar {
        width: 42px;
        height: 42px;
        margin-right: 12px;
        border: 2px solid rgba(255, 255, 255, 0.4);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

        img {
          background: white;
          padding: 2px;
        }
      }
    }
  }

  ion-content {
    --background: #f5f6f9;
    .summary-card {
      background: #1e1e1e;
      border-radius: 20px;
      padding: 20px;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 10px 20px rgba(74, 61, 59, 0.3);
      margin-bottom: 25px;
      width: 92%;
      max-width: 800px;
      margin: 15px auto;
      h1 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 500;
      }
      p {
        margin: 5px 0 0;
        opacity: 0.9;
        font-size: 0.9rem;
      }
    }
    .progress-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .circular-progress {
      width: 90px;
      height: 90px;

      border-radius: 50%;
      background: conic-gradient(
        rgb(95, 142, 250) 0% #{$percent},
        rgba(256, 255, 255, 1) #{$percent} 100%
      );
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s ease;
    }
    .inner-circle {
      width: 74px;
      height: 74px;
      background: #ff464b;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      .percentage {
        font-weight: 800;
        font-size: 1.2rem;
        color: white;
      }
    }
  }
}
