/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.class.css';
body.dark ion-card {
  --background: #1e1e1e;
}

body.dark ion-item {
  --background: #1e1e1e;
}

body.dark .summary-card {
  background: #111;
}
  body.dark {

  ion-menu ion-header ion-toolbar {
    --background: #1a1a1a;
  }

  ion-menu ion-content {
    --background: #121212;

    ion-list-header {
      --color: #f1f1f1;
    }

    ion-item {
      --background: #1e1e1e;
      --color: #ffffff;
    }
  }

  .ion-page ion-content {
    --background: #121212;
  }

  .summary-card {
    background: #000;
    color: #fff;
  }

  .task-container h2 {
    color: #ffffff;
  }
.stats-card {

background: #1f1f1f;
h3{
  color: white;
}
}

  .quick-action ion-title {
    color: #ffffff;
  }


  .focus ion-card {
    background: #1e1e1e;
  }
  .focus ion-card-title{
    color: #ffffff;
  }

  .inner-circle {
    background: #222;
  }

}